.form
  &-fieldset
    padding: 0
  // Text Around Forms
  &-label,
  &-helper
    display: block
  &-label
    font-weight: 600
    margin-bottom: .5rem
    &-required
      color: red
      font-weight: 600
  &-helper
    color: gray
    font-weight: 400
    font-size: .9rem
    margin-top: .5rem

  // Types of Inputs
  &-text
    &-input,
    &-area
      margin: 0
      font-size: 1rem
      padding: .75rem 1rem
      outline: 0
      border: 2px solid $border-color-mid
      border-radius: $border-radius
      box-shadow: 0
      box-sizing: border-box
  &-select
    -webkit-appearance: none !important
    background: #fff
    border: 2px solid $border-color-mid
    border-radius: $border-radius
    padding: .5rem 1rem
    padding-right: 3rem
  &-radio
  &-checkbox
  &-upload

  // Feedback
  &-feedback
    &-error
    &-warning
    &-success
