.guide

  // =========================================
  // Site Banner
  // =========================================
  &-banner
    +fixed(top 0)
    height: spacing(6) + 10rem
    width: 15rem
    padding: 2rem 2rem
    line-height: 1
    display: none
    +media(min-width $md)
      display: block

  // =========================================
  // A11y Skip
  // =========================================
  //
  //   - Only shows us on focus
  //
  &-skip-content a
    +absolute(left -9999em)
    margin-top: spacing(0.5)
    padding-left: spacing(3)
    width: 100%
    &:focus
      left: 0

  // =========================================
  // Site Navigation
  // =========================================
  &-navigation
    +fixed(top 6rem bottom 0)
    padding-top: 0
    width: 15rem
    display: none
    +media(min-width $md)
      display: block
    nav
      position: absolute
      height: 100%
      width: 15rem
      overflow: hidden
      overflow-y: auto
      outline: 0
    &-list
      margin: 0
      padding: 0
    &-link
      display: block
      padding: spacing(0.5) spacing(3)

  // =========================================
  // Main Content Area and Footer
  // =========================================
  &-main,
  &-contentinfo
    +media(min-width $md)
      margin-left: 15rem
  &-content
    padding: spacing(3) spacing(5)
  &-main
    min-height: calc(100vh - 8rem)
  &-contentinfo-copy
    padding: spacing(1) spacing(5)
    margin: 0

  // =========================================
  // Color Lists
  // =========================================
  &-color
    margin: 0 -1rem
    &-item
      > span
        color: rgba(#fff, 0.9)
        font-family: Monaco, monospace
        em
          color: rgba(#fff, 0.5)
          font-family: Helvetica, Arial, sans-serif
        &.topic-bg-python-lightest
          color: topic-color(python, base)
          em
            color: topic-color(python, lighter)
        &.topic-bg-diglit-lightest
          color: topic-color(diglit, base)
          em
            color: topic-color(diglit, lighter)
        &.bg-gray,
        &.bg-disabled-gray,
        &.bg-bg,
        &.bg-bg-shade
          color: gray-color(dark)
          em
            color: lighten(gray-color(dark), 25%)
      .bg-white
        border: 1px solid $border-color-normal
        color: rgba(#000, 0.7)
        em
          color: rgba(#000, 0.4)
      .bg-light-green
        color: darken(ui-color(light-green), 50%)
        em
          color: darken(ui-color(light-green), 25%)
      .bg-yellow
        color: darken(ui-color(yellow), 50%)
        em
          color: darken(ui-color(yellow), 25%)
  &-colors-topic,
  &-colors-gray,
  &-colors-text
    .guide-color-item
      span:first-child
        border-radius: $border-radius $border-radius 0 0
      span:last-child
        border-radius: 0 0 $border-radius $border-radius
