body
  background-color: ui-color(bg)

.guide

  // =========================================
  // Guide Banner
  // =========================================
  &-banner
    background-color: gray-color(dark)

  // =========================================
  // A11y Skip
  // =========================================
  &-skip-content a
    color: #fff
    font-size: 0.875rem
    text-decoration: none

  // =========================================
  // Guide Name
  // =========================================
  &-name
    color: #fff
    font-size: 2rem
    font-weight: bold
    text-decoration: none

  // =========================================
  // Guide Navigation
  // =========================================
  &-navigation
    background-color: gray-color(dark)
    &-link
      color: #fff
      font-size: 0.875rem
      text-decoration: none
      &:hover
        background-color: gray-color(darker)

  // =========================================
  // Guide Main
  // =========================================
  &-content
    background-color: #fff
    border-radius: $border-radius
