.alert
  &__banner
    background-color: gray-color(gray)
    border-radius: $border-radius
    padding: 1rem
    position: relative
    &--success
      background-color: ui-color(green)
    &--warning
      background-color: ui-color(yellow)
    &--error
      background-color: ui-color(red)
  &__icon
    width: 1.5rem
    height: 1.5rem
    vertical-align: middle
    display: inline-block
    background-color: #fff
    position: absolute
    top: 50%
    transform: translateY(-50%)


    & + .alert__message
      padding-left: 2.5rem

  &__message
    display: inline-block
    color: text-color(dark)
    padding-right: 5rem
    max-width: 900px
    .alert__banner--success &,
    .alert__banner--error &
      color: #fff
    .alert__banner--warning &
      color: darken(ui-color(yellow), 45%)
  // Styling if there is an action
  // This can either be a close icon, or a normal button
  &__action
    position: absolute
    top: 50%
    right: 1.5rem
    transform: translateY(-50%)
    display: block
    .alert-banner-success &,
    .alert-banner-error &
      color: #fff
    .alert-banner-warning &
      color: darken(ui-color(yellow), 45%)
    // Styling for Close Icon
    &--close
      background-color: transparent
      border: none
      position: absolute
      top: 0
      right: 0
      bottom: 0
      display: block
      vertical-align: middle
