---
layout: default
title: Control Bars
navigation_weight: 13
---

<section id="control-bar">

  <!-- Labels -->
  <p class="m-b-2-xs"></p>

  <h2 class="m-b-1-xs"></h2>
  <p class="m-b-1-xs"></p>

  <div class="control-bar border-light-xs">
    <div class="search">
      <form action="" class="search__form">
        <label for="" class="search__label">
          <span class="search__icon search__icon--search circle"></span>
          <span class="search__icon search__icon--loading circle"></span>
        </label>
        <input type="text" class="search__input" placeholder="Search Courses, Conferences and Teachers...">
      </form>
    </div>

    <ul class="filter__container">
      <!-- Filter -->
      <li class="filter">
        <a href="" class="filter__label">Filter Label {% include icon.html icon="chevron" class="filter__label--icon rotate-180-xs" %}</a>

        <ul class="filter__items">
          <li class="filter__item">
            <a href="" class="filter__value">Filter Item</a>
          </li>
          <li class="filter__item">
            <a href="" class="filter__value filter__value--selected">Filter Item</a>
          </li>
          <li class="filter__item">
            <a href="" class="filter__value">Filter Item</a>
          </li>
          <li class="filter__item">
            <a href="" class="filter__value">Filter Item</a>
          </li>
        </ul>
      </li>
      <!-- Filter -->
      <li class="filter">
        <a href="" class="filter__label">Filter Label {% include icon.html icon="chevron" class="filter__label--icon rotate-180-xs" %}</a>
        <ul class="filter__items">
          <li class="filter__item filter__item--topic">
            <a href="" class="filter__value"><span class="topic__circle topic__circle--small topic-bg-android-base circle"></span>Android</a>
          </li>
          <li class="filter__item filter__item--topic">
            <a href="" class="filter__value"><span class="topic__circle topic__circle--small topic-bg-html-base circle"></span>HTML</a>
          </li>
          <li class="filter__item filter__item--topic">
            <a href="" class="filter__value"><span class="topic__circle topic__circle--small topic-bg-css-base circle"></span>CSS</a>
          </li>
          <li class="filter__item filter__item--topic">
            <a href="" class="filter__value"><span class="topic__circle topic__circle--small topic-bg-js-base circle"></span>JavaScript</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="guide-code m-b-4-xs">
    <pre><code class="language-html"></code></pre>
  </div>


</section>
