---
layout: default
title: Icons
navigation_weight: 11
---

<section id="icons">

  <h2 class="m-b-1-xs">Common UI Icons</h2>
  <p class="m-b-2-xs">Currently, Leap only comes with a few basic icons that will cover a lot of common UI pieces. For all other icons, continue using our rails helper that is built into the Treehouse app.</p>
  <table class="table-border-rows m-b-4-xs">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Icon Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-icon">{% include icon.html icon="add" icon-size="16" %}</td>
        <td><code>icon-close</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="add" icon-size="16" %}</td>
        <td><code>icon-add</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="arrow" icon-size="16" %}</td>
        <td><code>icon-arrow</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="chevron" icon-size="16" %}</td>
        <td><code>icon-chevron</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="search" icon-size="16" %}</td>
        <td><code>icon-search</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="maintenance" icon-size="16" %}</td>
        <td><code>icon-maintenance</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="info" icon-size="16" %}</td>
        <td><code>icon-info</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="gear" icon-size="16" %}</td>
        <td><code>icon-gear</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="star" icon-size="16" %}</td>
        <td><code>icon-star</code></td>
      </tr>
    </tbody>
  </table>

</section>
