---
layout: default
title: Icons
navigation_weight: 11
---

<section id="icons">

  <h2 class="m-b-1-xs">Common UI Icons</h2>
  <p class="m-b-2-xs">Currently, Leap only comes with a few basic icons that will cover a lot of common UI pieces. For all other icons, continue using our rails helper that is built into the Treehouse app.</p>
  <table class="table-border-rows m-b-4-xs">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Icon Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-icon">{% include icon.html icon="add" %}</td>
        <td><code>icon-add</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="add" class="rotate-45-xs" %}</td>
        <td><code>icon-add, rotate-45-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="arrow" %}</td>
        <td><code>icon-arrow</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="arrow" class="rotate-90-xs" %}</td>
        <td><code>icon-arrow, rotate-90-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="arrow" class="rotate-180-xs" %}</td>
        <td><code>icon-arrow, rotate-180-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="arrow" class="rotate-270-xs" %}</td>
        <td><code>icon-arrow, rotate-270-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="chevron" %}</td>
        <td><code>icon-chevron</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="chevron" class="rotate-90-xs" %}</td>
        <td><code>icon-chevron, rotate-90-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="chevron" class="rotate-180-xs" %}</td>
        <td><code>icon-chevron, rotate-180-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="chevron" class="rotate-270-xs" %}</td>
        <td><code>icon-chevron, rotate-270-xs</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="search" %}</td>
        <td><code>icon-search</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="maintenance" %}</td>
        <td><code>icon-maintenance</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="info" %}</td>
        <td><code>icon-info</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="gear" %}</td>
        <td><code>icon-gear</code></td>
      </tr>
      <tr>
        <td class="table-icon">{% include icon.html icon="star" %}</td>
        <td><code>icon-star</code></td>
      </tr>
    </tbody>
  </table>

  <h3 class="m-b-1-xs">App Icons</h3>
  <p class="m-b-2-xs">We already have a lot of icons and a handy rails helper in the Treehouse app, here's how to use it.</p>
  <p class="bold m-b-1-xs">Displaying an icon:</p>
  <ul class="m-b-3-xs">
    <li>Locate the unique id of the icon, which is the filename of the icon itself. (e.g. <code>#logo</code>)</li>
    <li>In most cases, using the icon helper with the unique id will work just fine. (e.g. <code><%= icon('#logo') %></code>)</li>
    <li>In some cases, you may need to add styles/color to several paths inside of the icon. In this case, you'll need inject the svg/html of the icon directly into the page by using the path to the icon file. (e.g. <code><%= icon('layouts/treehouse/ipad') %></code>)</li>
  </ul>

  <p class="bold m-b-1-xs">Styling an icon:</p>
  <ul>
    <li>To change the color of an icon, simply apply the following css: <code>.logo-icon { fill: #fff }</code></li>
    <li>To add a drop-shadow to the icon, simply add: <code>.logo-icon { box-shadow: 0 1px 0 rgba(#000,.5) }</code></li>
    <li>To change the size of an icon, simply add: <code>.logo-icon { width: 100px; height: 100px }</code></li>
  </ul>

</section>
