<li class="col col-50-md col-33-lg">
  <div class="card">
     <div class="card__header bg-gray-dark text-color-white p-tb-1-xs p-lr-2-xs round-t">
        Icon
        Header
     </div>
     <div class="card__body p-lr-2-xs p-tb-1-xs">
       <p class="bold text-color-light text-6-xs">
         Concept
       </p>
       <h3 class="m-b-1-xs text-4-xs">
         JavaScript Basics
       </h3>
       <p class="card__description text-6-xs">
         Wow this is the full text of a card it's pretty cool and goes on two whole lines and then stops!!
       </p>
     </div>
     <div class="card__actions p-t-1-xs p-b-2-xs p-lr-2-xs">
       <button class="button button--small button--primary">
         Resume
       </button>
     </div>
  </div>
</li>
