$leap-version: "0.9.2";

// Brand Colors
$brand-colors: (
  "green": #5fcf80,
  "gray":  #3e474f,
  "blue-light": #387bab, // AA 4.58
  "blue-medium": #2a5d81,
  "blue-dark": #303853
);

// Text Colors
$text-colors: (
  "dark":     #40484a,
  "medium":   #4b5658,
  "base":     #576366,
  "light":    #7b8b8e,
  "white":    #fff,
  "light-on-dark":    #b2bbbd,
  "blue-light":    #387bab, // AA 4.58
  "blue-medium":    #2a5d81,
  "blue-dark":    #303853
);

// Gray Colors
$gray-colors: (
  "gray-darker":  #2d3339,
  "gray-dark":    #3f4850,
  "gray":         #c6ccd2,
  "gray-40":      #dfe3e4,
  "gray-light":   #edeff0,
  "gray-lighter": #f9fafa
);

// Icon colors
$icon-colors: (
  "normal":       #bfc7ce,
  "active":       #9099a1
);

// UI Colors
$ui-colors: (
  "blue":         #3f8abf,
  "green":        #36b55c,
  "yellow":       #ffd466,
  "wtf":       #ffd466,
  "orange":       #ff9f1f,
  "red":          #ed5a5a,
  "error":        #be4a4a,
  "warning":      #bf570f,
  "success":      #24793d
);

// Category colors
$category-colors: (
  "back-end": (
    light: lighten(#008297,5%),
    base: #008297,
    dark: darken(#008297,5%),
  ),
  "data": (
    light: lighten(#9F4B84,5%),
    base: #9F4B84,
    dark: darken(#9F4B84,5%),
  ),
  "design": (
    light: lighten(#4a4290,5%),
    base: #4a4290,
    dark: darken(#4a4290,5%),
  ),
  "experimental": (
    light: lighten(#733a88,5%),
    base: #733a88,
    dark: darken(#733a88,5%),
  ),
  "front-end": (
    light: lighten(#3659a2,5%),
    base: #3659a2,
    dark: darken(#3659a2,5%),
  ),
  "fundamentals": (
    light: lighten(#9b3b5a,5%),
    base: #9b3b5a,
    dark: darken(#9b3b5a,5%),
  ),
  "mobile": (
    light: lighten(#30826C,5%),
    base: #30826C,
    dark: darken(#30826C,5%),
  ),
  "internal": (
    light: lighten(#55616c,5%),
    base: #55616c,
    dark: darken(#55616c,5%),
  ),
  "undefined": (
    light: lighten(#55616c,5%),
    base: #55616c,
    dark: darken(#55616c,5%),
  )
);

// Spacing Units
//   0   = 0px
//   0.5 = 8px
//   1   = 16px
//   2   = 24px
//   3   = 32px
//   4   = 48px
//   5   = 64px
//   6   = 80px
$spacing: (
  0:   0rem,
  0.5: 0.5rem,
  1:   1rem,
  2:   1.5rem,
  3:   2rem,
  4:   3rem,
  5:   4rem,
  6:   5rem
);

// Spacing Sides
$spacing-sides: (
  all: all,
  t:   top,
  b:   bottom,
  l:   left,
  r:   right,
  lr:  null,
  tb:  null
);

// Type Variables
$text-size: (
  0: 2.5rem,
  1: 2rem,
  2: 1.75rem,
  3: 1.25rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem
);
$gotham: "Gotham Rounded A", "Gotham Rounded B", "Helvetica", Helvetica, Arial, sans-serif;
$bold: 500;



// Global Border Variables
$border-color-dark:   #b7c0c7;
$border-color-mid:    #d4d9dd;
$border-color-normal: #e8ebed;
$border-color-light:  #f0f2f4;
$border-radius: 4px;

$box-shadow: 0 2px 0 rgba(#000,.06);

// Grid max width
$grid-width: 1260px;

// Global Responsive Breakpoints
$sm: 480px;
$md: 680px;
$lg: 960px;
$xl: 1140px;
