$leap-version: "0.11.0";

// Brand Colors
$brand-colors: (
  "green": #5fcf80,
  "green-dark": #2F9D4F,
  "gray":  #3e474f,
  "blue-light": #387bab, // AA 4.58
  "blue-medium": #2a5d81,
  "blue-dark": #303853
);

// Text Colors
$text-colors: (
  "dark":     #40484a,
  "medium":   #4b5658,
  "base":     #576366,
  "light":    #7b8b8e,
  "white":    #fff,
  "blue-light":    #387bab, // AA 4.58
  "blue-medium":    #2a5d81,
  "blue-dark":    #303853
);

// Gray Colors
$gray-colors: (
  "gray-darker":  #2d3339,
  "gray-dark":    #3f4850,
  "gray":         #c6ccd2,
  "gray-light":   #edeff0,
  "gray-lighter": #f9fafa
);

// UI Colors
$ui-colors: (
  "blue":         #3f8abf,
  "green":        #36b55c,
  "yellow":       #ffd466,
  "orange":       #ff9f1f,
  "red":          #ed5a5a,
  "error":          #be4a4a,
  "warning":          #bf570f,
  "success":          #24793d
);

// Pop Colors
$pop-colors: (
  "blue-pastel":    #5185c1,
  "blue":           #3859a2,
  "blue-dark":      #323952,
  "teal":           #0498b1,
  "green":          #6ac17e,
  "golden":         #ecc148,
  "orange":         #e98134,
  "red-orange":     #e95e31,
  "purple-pastel":  #8171a0,
  "purple":         #b15592,
  "purple-ux":      #4a4290
);

// Category colors 
$category-colors: (
  "back-end": (
    light: lighten(#008297,5%),
    base: #008297,
    dark: darken(#008297,5%),
  ),
  "data": (
    light: lighten(#9F4B84,5%),
    base: #9F4B84,
    dark: darken(#9F4B84,5%),
  ),
  "design": (
    light: lighten(#4a4290,5%),
    base: #4a4290,
    dark: darken(#4a4290,5%),
  ),
  "experimental": (
    light: lighten(#733a88,5%),
    base: #733a88,
    dark: darken(#733a88,5%),
  ),
  "front-end": (
    light: lighten(#3659a2,5%),
    base: #3659a2,
    dark: darken(#3659a2,5%),
  ),
  "fundamentals": (
    light: lighten(#9b3b5a,5%),
    base: #9b3b5a,
    dark: darken(#9b3b5a,5%),
  ),
  "mobile": (
    light: lighten(#30826C,5%),
    base: #30826C,
    dark: darken(#30826C,5%),
  ),
  "internal": (
    light: lighten(#55616c,5%),
    base: #55616c,
    dark: darken(#55616c,5%),
  ),
  "undefined": (
    light: lighten(#55616c,5%),
    base: #55616c,
    dark: darken(#55616c,5%),
  )
);



// Spacing Units
//   0   = 0px
//   0.5 = 8px
//   1   = 16px
//   2   = 24px
//   3   = 32px
//   4   = 48px
//   5   = 64px
//   6   = 80px
$spacing: (
  0:   0rem,
  0.5: 0.5rem,
  1:   1rem,
  2:   1.5rem,
  3:   2rem,
  4:   3rem,
  5:   4rem,
  6:   5rem
);

// Spacing Sides
$spacing-sides: (
  all: all,
  t:   top,
  b:   bottom,
  l:   left,
  r:   right,
  lr:  null,
  tb:  null
);

// Type Variables
$text-size: (
  0: 3.75rem,
  1: 3rem,
  2: 2.25rem,
  3: 1.5rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem
);

$text-tracking: (
  0: 1.4px,
  1: 1.3px,
  2: 1.2px,
  3: 1px
);

$gotham: "Gotham Rounded A", "Gotham Rounded B", "Helvetica", Helvetica, Arial, sans-serif;
$bold: 500;



// Global Border Variables
$border-color-dark:   #b7c0c7;
$border-color-mid:    #d4d9dd;
$border-color-normal: #e8ebed;
$border-color-light:  #f0f2f4;
$border-radius: 4px;

// Grid max width
$grid-width: 1260px;

// Global Responsive Breakpoints
$sm: 480px;
$md: 680px;
$lg: 960px;
$xl: 1140px;
