<!-- <?php
  $nav_items = array('typography', 'colors', 'grid', 'block grid', 'borders', 'buttons', 'responsive', 'layout', 'tables');
?> -->

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7055252/6518352/css/fonts.css" />
  <link rel="stylesheet" href="css/styleguide/styleguide.css">
</head>
