/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */
code {
  color: #e3116c;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #393A34;
  font-family: Monaco, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.875rem;
  line-height: 1.7;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 2rem 0;
  overflow: auto;
  background-color: #f5f6f7;
  border-radius: 4px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999988;
  font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string,
.token.attr-value {
  color: #e3116c;
}

.token.punctuation,
.token.operator {
  color: #393A34;
  /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: Monaco, monospace;
  font-size: 0.875rem;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
}

.col {
  float: left;
  width: 100%;
}
.col-gutters {
  margin: 0 -15px;
}
.col-gutters > .col {
  padding: 0 15px;
}
.col-container:before, .col-container:after {
  content: " ";
  display: table;
}
.col-container:after {
  clear: both;
}
.col-center {
  margin: 0 auto;
}
@media screen {
  .col-5-xs {
    width: 5% !important;
  }
  .col-10-xs {
    width: 10% !important;
  }
  .col-15-xs {
    width: 15% !important;
  }
  .col-20-xs {
    width: 20% !important;
  }
  .col-25-xs {
    width: 25% !important;
  }
  .col-30-xs {
    width: 30% !important;
  }
  .col-33-xs {
    width: 33% !important;
  }
  .col-35-xs {
    width: 35% !important;
  }
  .col-40-xs {
    width: 40% !important;
  }
  .col-45-xs {
    width: 45% !important;
  }
  .col-50-xs {
    width: 50% !important;
  }
  .col-55-xs {
    width: 55% !important;
  }
  .col-60-xs {
    width: 60% !important;
  }
  .col-65-xs {
    width: 65% !important;
  }
  .col-70-xs {
    width: 70% !important;
  }
  .col-75-xs {
    width: 75% !important;
  }
  .col-80-xs {
    width: 80% !important;
  }
  .col-85-xs {
    width: 85% !important;
  }
  .col-90-xs {
    width: 90% !important;
  }
  .col-95-xs {
    width: 95% !important;
  }
  .col-100-xs {
    width: 100% !important;
  }
}
@media screen and (min-width: 480px) {
  .col-5-sm {
    width: 5% !important;
  }
  .col-10-sm {
    width: 10% !important;
  }
  .col-15-sm {
    width: 15% !important;
  }
  .col-20-sm {
    width: 20% !important;
  }
  .col-25-sm {
    width: 25% !important;
  }
  .col-30-sm {
    width: 30% !important;
  }
  .col-33-sm {
    width: 33% !important;
  }
  .col-35-sm {
    width: 35% !important;
  }
  .col-40-sm {
    width: 40% !important;
  }
  .col-45-sm {
    width: 45% !important;
  }
  .col-50-sm {
    width: 50% !important;
  }
  .col-55-sm {
    width: 55% !important;
  }
  .col-60-sm {
    width: 60% !important;
  }
  .col-65-sm {
    width: 65% !important;
  }
  .col-70-sm {
    width: 70% !important;
  }
  .col-75-sm {
    width: 75% !important;
  }
  .col-80-sm {
    width: 80% !important;
  }
  .col-85-sm {
    width: 85% !important;
  }
  .col-90-sm {
    width: 90% !important;
  }
  .col-95-sm {
    width: 95% !important;
  }
  .col-100-sm {
    width: 100% !important;
  }
}
@media screen and (min-width: 680px) {
  .col-5-md {
    width: 5% !important;
  }
  .col-10-md {
    width: 10% !important;
  }
  .col-15-md {
    width: 15% !important;
  }
  .col-20-md {
    width: 20% !important;
  }
  .col-25-md {
    width: 25% !important;
  }
  .col-30-md {
    width: 30% !important;
  }
  .col-33-md {
    width: 33% !important;
  }
  .col-35-md {
    width: 35% !important;
  }
  .col-40-md {
    width: 40% !important;
  }
  .col-45-md {
    width: 45% !important;
  }
  .col-50-md {
    width: 50% !important;
  }
  .col-55-md {
    width: 55% !important;
  }
  .col-60-md {
    width: 60% !important;
  }
  .col-65-md {
    width: 65% !important;
  }
  .col-70-md {
    width: 70% !important;
  }
  .col-75-md {
    width: 75% !important;
  }
  .col-80-md {
    width: 80% !important;
  }
  .col-85-md {
    width: 85% !important;
  }
  .col-90-md {
    width: 90% !important;
  }
  .col-95-md {
    width: 95% !important;
  }
  .col-100-md {
    width: 100% !important;
  }
}
@media screen and (min-width: 960px) {
  .col-5-lg {
    width: 5% !important;
  }
  .col-10-lg {
    width: 10% !important;
  }
  .col-15-lg {
    width: 15% !important;
  }
  .col-20-lg {
    width: 20% !important;
  }
  .col-25-lg {
    width: 25% !important;
  }
  .col-30-lg {
    width: 30% !important;
  }
  .col-33-lg {
    width: 33% !important;
  }
  .col-35-lg {
    width: 35% !important;
  }
  .col-40-lg {
    width: 40% !important;
  }
  .col-45-lg {
    width: 45% !important;
  }
  .col-50-lg {
    width: 50% !important;
  }
  .col-55-lg {
    width: 55% !important;
  }
  .col-60-lg {
    width: 60% !important;
  }
  .col-65-lg {
    width: 65% !important;
  }
  .col-70-lg {
    width: 70% !important;
  }
  .col-75-lg {
    width: 75% !important;
  }
  .col-80-lg {
    width: 80% !important;
  }
  .col-85-lg {
    width: 85% !important;
  }
  .col-90-lg {
    width: 90% !important;
  }
  .col-95-lg {
    width: 95% !important;
  }
  .col-100-lg {
    width: 100% !important;
  }
}
@media screen and (min-width: 1140px) {
  .col-5-xl {
    width: 5% !important;
  }
  .col-10-xl {
    width: 10% !important;
  }
  .col-15-xl {
    width: 15% !important;
  }
  .col-20-xl {
    width: 20% !important;
  }
  .col-25-xl {
    width: 25% !important;
  }
  .col-30-xl {
    width: 30% !important;
  }
  .col-33-xl {
    width: 33% !important;
  }
  .col-35-xl {
    width: 35% !important;
  }
  .col-40-xl {
    width: 40% !important;
  }
  .col-45-xl {
    width: 45% !important;
  }
  .col-50-xl {
    width: 50% !important;
  }
  .col-55-xl {
    width: 55% !important;
  }
  .col-60-xl {
    width: 60% !important;
  }
  .col-65-xl {
    width: 65% !important;
  }
  .col-70-xl {
    width: 70% !important;
  }
  .col-75-xl {
    width: 75% !important;
  }
  .col-80-xl {
    width: 80% !important;
  }
  .col-85-xl {
    width: 85% !important;
  }
  .col-90-xl {
    width: 90% !important;
  }
  .col-95-xl {
    width: 95% !important;
  }
  .col-100-xl {
    width: 100% !important;
  }
}

@media screen {
  .border-xs {
    border: solid 1px #e8ebed !important;
  }

  .border-top-xs {
    border-top: solid 1px #e8ebed !important;
  }

  .border-bottom-xs {
    border-bottom: solid 1px #e8ebed !important;
  }

  .border-left-xs {
    border-left: solid 1px #e8ebed !important;
  }

  .border-right-xs {
    border-right: solid 1px #e8ebed !important;
  }

  .border-xs-dark {
    border: solid 1px #b7c0c7 !important;
  }

  .border-top-xs-dark {
    border-top: solid 1px #b7c0c7 !important;
  }

  .border-bottom-xs-dark {
    border-bottom: solid 1px #b7c0c7 !important;
  }

  .border-left-xs-dark {
    border-left: solid 1px #b7c0c7 !important;
  }

  .border-right-xs-dark {
    border-right: solid 1px #b7c0c7 !important;
  }

  .border-xs-mid {
    border: solid 1px #d4d9dd !important;
  }

  .border-top-xs-mid {
    border-top: solid 1px #d4d9dd !important;
  }

  .border-bottom-xs-mid {
    border-bottom: solid 1px #d4d9dd !important;
  }

  .border-left-xs-mid {
    border-left: solid 1px #d4d9dd !important;
  }

  .border-right-xs-mid {
    border-right: solid 1px #d4d9dd !important;
  }

  .border-xs-light {
    border: solid 1px #f0f2f4 !important;
  }

  .border-top-xs-light {
    border-top: solid 1px #f0f2f4 !important;
  }

  .border-bottom-xs-light {
    border-bottom: solid 1px #f0f2f4 !important;
  }

  .border-left-xs-light {
    border-left: solid 1px #f0f2f4 !important;
  }

  .border-right-xs-light {
    border-right: solid 1px #f0f2f4 !important;
  }
}
@media screen and (min-width: 480px) {
  .border-sm {
    border: solid 1px #e8ebed !important;
  }

  .border-top-sm {
    border-top: solid 1px #e8ebed !important;
  }

  .border-bottom-sm {
    border-bottom: solid 1px #e8ebed !important;
  }

  .border-left-sm {
    border-left: solid 1px #e8ebed !important;
  }

  .border-right-sm {
    border-right: solid 1px #e8ebed !important;
  }

  .border-sm-dark {
    border: solid 1px #b7c0c7 !important;
  }

  .border-top-sm-dark {
    border-top: solid 1px #b7c0c7 !important;
  }

  .border-bottom-sm-dark {
    border-bottom: solid 1px #b7c0c7 !important;
  }

  .border-left-sm-dark {
    border-left: solid 1px #b7c0c7 !important;
  }

  .border-right-sm-dark {
    border-right: solid 1px #b7c0c7 !important;
  }

  .border-sm-mid {
    border: solid 1px #d4d9dd !important;
  }

  .border-top-sm-mid {
    border-top: solid 1px #d4d9dd !important;
  }

  .border-bottom-sm-mid {
    border-bottom: solid 1px #d4d9dd !important;
  }

  .border-left-sm-mid {
    border-left: solid 1px #d4d9dd !important;
  }

  .border-right-sm-mid {
    border-right: solid 1px #d4d9dd !important;
  }

  .border-sm-light {
    border: solid 1px #f0f2f4 !important;
  }

  .border-top-sm-light {
    border-top: solid 1px #f0f2f4 !important;
  }

  .border-bottom-sm-light {
    border-bottom: solid 1px #f0f2f4 !important;
  }

  .border-left-sm-light {
    border-left: solid 1px #f0f2f4 !important;
  }

  .border-right-sm-light {
    border-right: solid 1px #f0f2f4 !important;
  }
}
@media screen and (min-width: 680px) {
  .border-md {
    border: solid 1px #e8ebed !important;
  }

  .border-top-md {
    border-top: solid 1px #e8ebed !important;
  }

  .border-bottom-md {
    border-bottom: solid 1px #e8ebed !important;
  }

  .border-left-md {
    border-left: solid 1px #e8ebed !important;
  }

  .border-right-md {
    border-right: solid 1px #e8ebed !important;
  }

  .border-md-dark {
    border: solid 1px #b7c0c7 !important;
  }

  .border-top-md-dark {
    border-top: solid 1px #b7c0c7 !important;
  }

  .border-bottom-md-dark {
    border-bottom: solid 1px #b7c0c7 !important;
  }

  .border-left-md-dark {
    border-left: solid 1px #b7c0c7 !important;
  }

  .border-right-md-dark {
    border-right: solid 1px #b7c0c7 !important;
  }

  .border-md-mid {
    border: solid 1px #d4d9dd !important;
  }

  .border-top-md-mid {
    border-top: solid 1px #d4d9dd !important;
  }

  .border-bottom-md-mid {
    border-bottom: solid 1px #d4d9dd !important;
  }

  .border-left-md-mid {
    border-left: solid 1px #d4d9dd !important;
  }

  .border-right-md-mid {
    border-right: solid 1px #d4d9dd !important;
  }

  .border-md-light {
    border: solid 1px #f0f2f4 !important;
  }

  .border-top-md-light {
    border-top: solid 1px #f0f2f4 !important;
  }

  .border-bottom-md-light {
    border-bottom: solid 1px #f0f2f4 !important;
  }

  .border-left-md-light {
    border-left: solid 1px #f0f2f4 !important;
  }

  .border-right-md-light {
    border-right: solid 1px #f0f2f4 !important;
  }
}
@media screen and (min-width: 960px) {
  .border-lg {
    border: solid 1px #e8ebed !important;
  }

  .border-top-lg {
    border-top: solid 1px #e8ebed !important;
  }

  .border-bottom-lg {
    border-bottom: solid 1px #e8ebed !important;
  }

  .border-left-lg {
    border-left: solid 1px #e8ebed !important;
  }

  .border-right-lg {
    border-right: solid 1px #e8ebed !important;
  }

  .border-lg-dark {
    border: solid 1px #b7c0c7 !important;
  }

  .border-top-lg-dark {
    border-top: solid 1px #b7c0c7 !important;
  }

  .border-bottom-lg-dark {
    border-bottom: solid 1px #b7c0c7 !important;
  }

  .border-left-lg-dark {
    border-left: solid 1px #b7c0c7 !important;
  }

  .border-right-lg-dark {
    border-right: solid 1px #b7c0c7 !important;
  }

  .border-lg-mid {
    border: solid 1px #d4d9dd !important;
  }

  .border-top-lg-mid {
    border-top: solid 1px #d4d9dd !important;
  }

  .border-bottom-lg-mid {
    border-bottom: solid 1px #d4d9dd !important;
  }

  .border-left-lg-mid {
    border-left: solid 1px #d4d9dd !important;
  }

  .border-right-lg-mid {
    border-right: solid 1px #d4d9dd !important;
  }

  .border-lg-light {
    border: solid 1px #f0f2f4 !important;
  }

  .border-top-lg-light {
    border-top: solid 1px #f0f2f4 !important;
  }

  .border-bottom-lg-light {
    border-bottom: solid 1px #f0f2f4 !important;
  }

  .border-left-lg-light {
    border-left: solid 1px #f0f2f4 !important;
  }

  .border-right-lg-light {
    border-right: solid 1px #f0f2f4 !important;
  }
}
@media screen and (min-width: 1140px) {
  .border-xl {
    border: solid 1px #e8ebed !important;
  }

  .border-top-xl {
    border-top: solid 1px #e8ebed !important;
  }

  .border-bottom-xl {
    border-bottom: solid 1px #e8ebed !important;
  }

  .border-left-xl {
    border-left: solid 1px #e8ebed !important;
  }

  .border-right-xl {
    border-right: solid 1px #e8ebed !important;
  }

  .border-xl-dark {
    border: solid 1px #b7c0c7 !important;
  }

  .border-top-xl-dark {
    border-top: solid 1px #b7c0c7 !important;
  }

  .border-bottom-xl-dark {
    border-bottom: solid 1px #b7c0c7 !important;
  }

  .border-left-xl-dark {
    border-left: solid 1px #b7c0c7 !important;
  }

  .border-right-xl-dark {
    border-right: solid 1px #b7c0c7 !important;
  }

  .border-xl-mid {
    border: solid 1px #d4d9dd !important;
  }

  .border-top-xl-mid {
    border-top: solid 1px #d4d9dd !important;
  }

  .border-bottom-xl-mid {
    border-bottom: solid 1px #d4d9dd !important;
  }

  .border-left-xl-mid {
    border-left: solid 1px #d4d9dd !important;
  }

  .border-right-xl-mid {
    border-right: solid 1px #d4d9dd !important;
  }

  .border-xl-light {
    border: solid 1px #f0f2f4 !important;
  }

  .border-top-xl-light {
    border-top: solid 1px #f0f2f4 !important;
  }

  .border-bottom-xl-light {
    border-bottom: solid 1px #f0f2f4 !important;
  }

  .border-left-xl-light {
    border-left: solid 1px #f0f2f4 !important;
  }

  .border-right-xl-light {
    border-right: solid 1px #f0f2f4 !important;
  }
}
@media screen {
  .block-xs {
    display: block !important;
  }

  .hide-xs {
    display: none !important;
  }

  .inline-xs {
    display: inline !important;
  }

  .inline-block-xs {
    display: inline-block !important;
  }
}
@media screen and (min-width: 480px) {
  .block-sm {
    display: block !important;
  }

  .hide-sm {
    display: none !important;
  }

  .inline-sm {
    display: inline !important;
  }

  .inline-block-sm {
    display: inline-block !important;
  }
}
@media screen and (min-width: 680px) {
  .block-md {
    display: block !important;
  }

  .hide-md {
    display: none !important;
  }

  .inline-md {
    display: inline !important;
  }

  .inline-block-md {
    display: inline-block !important;
  }
}
@media screen and (min-width: 960px) {
  .block-lg {
    display: block !important;
  }

  .hide-lg {
    display: none !important;
  }

  .inline-lg {
    display: inline !important;
  }

  .inline-block-lg {
    display: inline-block !important;
  }
}
@media screen and (min-width: 1140px) {
  .block-xl {
    display: block !important;
  }

  .hide-xl {
    display: none !important;
  }

  .inline-xl {
    display: inline !important;
  }

  .inline-block-xl {
    display: inline-block !important;
  }
}
@media screen {
  .mg-xs-0 {
    margin: 0rem !important;
  }

  .mg-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-xs-1 {
    margin: 1rem !important;
  }

  .mg-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-xs-3 {
    margin: 2rem !important;
  }

  .mg-xs-4 {
    margin: 3rem !important;
  }

  .mg-xs-5 {
    margin: 4rem !important;
  }

  .mg-xs-6 {
    margin: 5rem !important;
  }

  .mg-t-xs-0 {
    margin: 0rem !important;
  }

  .mg-t-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-t-xs-1 {
    margin: 1rem !important;
  }

  .mg-t-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-t-xs-3 {
    margin: 2rem !important;
  }

  .mg-t-xs-4 {
    margin: 3rem !important;
  }

  .mg-t-xs-5 {
    margin: 4rem !important;
  }

  .mg-t-xs-6 {
    margin: 5rem !important;
  }

  .mg-b-xs-0 {
    margin: 0rem !important;
  }

  .mg-b-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-b-xs-1 {
    margin: 1rem !important;
  }

  .mg-b-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-b-xs-3 {
    margin: 2rem !important;
  }

  .mg-b-xs-4 {
    margin: 3rem !important;
  }

  .mg-b-xs-5 {
    margin: 4rem !important;
  }

  .mg-b-xs-6 {
    margin: 5rem !important;
  }

  .mg-l-xs-0 {
    margin: 0rem !important;
  }

  .mg-l-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-l-xs-1 {
    margin: 1rem !important;
  }

  .mg-l-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-l-xs-3 {
    margin: 2rem !important;
  }

  .mg-l-xs-4 {
    margin: 3rem !important;
  }

  .mg-l-xs-5 {
    margin: 4rem !important;
  }

  .mg-l-xs-6 {
    margin: 5rem !important;
  }

  .mg-r-xs-0 {
    margin: 0rem !important;
  }

  .mg-r-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-r-xs-1 {
    margin: 1rem !important;
  }

  .mg-r-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-r-xs-3 {
    margin: 2rem !important;
  }

  .mg-r-xs-4 {
    margin: 3rem !important;
  }

  .mg-r-xs-5 {
    margin: 4rem !important;
  }

  .mg-r-xs-6 {
    margin: 5rem !important;
  }

  .mg-lr-xs-0 {
    margin: 0rem !important;
  }

  .mg-lr-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-lr-xs-1 {
    margin: 1rem !important;
  }

  .mg-lr-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-lr-xs-3 {
    margin: 2rem !important;
  }

  .mg-lr-xs-4 {
    margin: 3rem !important;
  }

  .mg-lr-xs-5 {
    margin: 4rem !important;
  }

  .mg-lr-xs-6 {
    margin: 5rem !important;
  }

  .mg-tb-xs-0 {
    margin: 0rem !important;
  }

  .mg-tb-xs-05 {
    margin: 0.5rem !important;
  }

  .mg-tb-xs-1 {
    margin: 1rem !important;
  }

  .mg-tb-xs-2 {
    margin: 1.5rem !important;
  }

  .mg-tb-xs-3 {
    margin: 2rem !important;
  }

  .mg-tb-xs-4 {
    margin: 3rem !important;
  }

  .mg-tb-xs-5 {
    margin: 4rem !important;
  }

  .mg-tb-xs-6 {
    margin: 5rem !important;
  }

  .mg-xs-auto {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 480px) {
  .mg-sm-0 {
    margin: 0rem !important;
  }

  .mg-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-sm-1 {
    margin: 1rem !important;
  }

  .mg-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-sm-3 {
    margin: 2rem !important;
  }

  .mg-sm-4 {
    margin: 3rem !important;
  }

  .mg-sm-5 {
    margin: 4rem !important;
  }

  .mg-sm-6 {
    margin: 5rem !important;
  }

  .mg-t-sm-0 {
    margin: 0rem !important;
  }

  .mg-t-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-t-sm-1 {
    margin: 1rem !important;
  }

  .mg-t-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-t-sm-3 {
    margin: 2rem !important;
  }

  .mg-t-sm-4 {
    margin: 3rem !important;
  }

  .mg-t-sm-5 {
    margin: 4rem !important;
  }

  .mg-t-sm-6 {
    margin: 5rem !important;
  }

  .mg-b-sm-0 {
    margin: 0rem !important;
  }

  .mg-b-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-b-sm-1 {
    margin: 1rem !important;
  }

  .mg-b-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-b-sm-3 {
    margin: 2rem !important;
  }

  .mg-b-sm-4 {
    margin: 3rem !important;
  }

  .mg-b-sm-5 {
    margin: 4rem !important;
  }

  .mg-b-sm-6 {
    margin: 5rem !important;
  }

  .mg-l-sm-0 {
    margin: 0rem !important;
  }

  .mg-l-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-l-sm-1 {
    margin: 1rem !important;
  }

  .mg-l-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-l-sm-3 {
    margin: 2rem !important;
  }

  .mg-l-sm-4 {
    margin: 3rem !important;
  }

  .mg-l-sm-5 {
    margin: 4rem !important;
  }

  .mg-l-sm-6 {
    margin: 5rem !important;
  }

  .mg-r-sm-0 {
    margin: 0rem !important;
  }

  .mg-r-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-r-sm-1 {
    margin: 1rem !important;
  }

  .mg-r-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-r-sm-3 {
    margin: 2rem !important;
  }

  .mg-r-sm-4 {
    margin: 3rem !important;
  }

  .mg-r-sm-5 {
    margin: 4rem !important;
  }

  .mg-r-sm-6 {
    margin: 5rem !important;
  }

  .mg-lr-sm-0 {
    margin: 0rem !important;
  }

  .mg-lr-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-lr-sm-1 {
    margin: 1rem !important;
  }

  .mg-lr-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-lr-sm-3 {
    margin: 2rem !important;
  }

  .mg-lr-sm-4 {
    margin: 3rem !important;
  }

  .mg-lr-sm-5 {
    margin: 4rem !important;
  }

  .mg-lr-sm-6 {
    margin: 5rem !important;
  }

  .mg-tb-sm-0 {
    margin: 0rem !important;
  }

  .mg-tb-sm-05 {
    margin: 0.5rem !important;
  }

  .mg-tb-sm-1 {
    margin: 1rem !important;
  }

  .mg-tb-sm-2 {
    margin: 1.5rem !important;
  }

  .mg-tb-sm-3 {
    margin: 2rem !important;
  }

  .mg-tb-sm-4 {
    margin: 3rem !important;
  }

  .mg-tb-sm-5 {
    margin: 4rem !important;
  }

  .mg-tb-sm-6 {
    margin: 5rem !important;
  }

  .mg-sm-auto {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 680px) {
  .mg-md-0 {
    margin: 0rem !important;
  }

  .mg-md-05 {
    margin: 0.5rem !important;
  }

  .mg-md-1 {
    margin: 1rem !important;
  }

  .mg-md-2 {
    margin: 1.5rem !important;
  }

  .mg-md-3 {
    margin: 2rem !important;
  }

  .mg-md-4 {
    margin: 3rem !important;
  }

  .mg-md-5 {
    margin: 4rem !important;
  }

  .mg-md-6 {
    margin: 5rem !important;
  }

  .mg-t-md-0 {
    margin: 0rem !important;
  }

  .mg-t-md-05 {
    margin: 0.5rem !important;
  }

  .mg-t-md-1 {
    margin: 1rem !important;
  }

  .mg-t-md-2 {
    margin: 1.5rem !important;
  }

  .mg-t-md-3 {
    margin: 2rem !important;
  }

  .mg-t-md-4 {
    margin: 3rem !important;
  }

  .mg-t-md-5 {
    margin: 4rem !important;
  }

  .mg-t-md-6 {
    margin: 5rem !important;
  }

  .mg-b-md-0 {
    margin: 0rem !important;
  }

  .mg-b-md-05 {
    margin: 0.5rem !important;
  }

  .mg-b-md-1 {
    margin: 1rem !important;
  }

  .mg-b-md-2 {
    margin: 1.5rem !important;
  }

  .mg-b-md-3 {
    margin: 2rem !important;
  }

  .mg-b-md-4 {
    margin: 3rem !important;
  }

  .mg-b-md-5 {
    margin: 4rem !important;
  }

  .mg-b-md-6 {
    margin: 5rem !important;
  }

  .mg-l-md-0 {
    margin: 0rem !important;
  }

  .mg-l-md-05 {
    margin: 0.5rem !important;
  }

  .mg-l-md-1 {
    margin: 1rem !important;
  }

  .mg-l-md-2 {
    margin: 1.5rem !important;
  }

  .mg-l-md-3 {
    margin: 2rem !important;
  }

  .mg-l-md-4 {
    margin: 3rem !important;
  }

  .mg-l-md-5 {
    margin: 4rem !important;
  }

  .mg-l-md-6 {
    margin: 5rem !important;
  }

  .mg-r-md-0 {
    margin: 0rem !important;
  }

  .mg-r-md-05 {
    margin: 0.5rem !important;
  }

  .mg-r-md-1 {
    margin: 1rem !important;
  }

  .mg-r-md-2 {
    margin: 1.5rem !important;
  }

  .mg-r-md-3 {
    margin: 2rem !important;
  }

  .mg-r-md-4 {
    margin: 3rem !important;
  }

  .mg-r-md-5 {
    margin: 4rem !important;
  }

  .mg-r-md-6 {
    margin: 5rem !important;
  }

  .mg-lr-md-0 {
    margin: 0rem !important;
  }

  .mg-lr-md-05 {
    margin: 0.5rem !important;
  }

  .mg-lr-md-1 {
    margin: 1rem !important;
  }

  .mg-lr-md-2 {
    margin: 1.5rem !important;
  }

  .mg-lr-md-3 {
    margin: 2rem !important;
  }

  .mg-lr-md-4 {
    margin: 3rem !important;
  }

  .mg-lr-md-5 {
    margin: 4rem !important;
  }

  .mg-lr-md-6 {
    margin: 5rem !important;
  }

  .mg-tb-md-0 {
    margin: 0rem !important;
  }

  .mg-tb-md-05 {
    margin: 0.5rem !important;
  }

  .mg-tb-md-1 {
    margin: 1rem !important;
  }

  .mg-tb-md-2 {
    margin: 1.5rem !important;
  }

  .mg-tb-md-3 {
    margin: 2rem !important;
  }

  .mg-tb-md-4 {
    margin: 3rem !important;
  }

  .mg-tb-md-5 {
    margin: 4rem !important;
  }

  .mg-tb-md-6 {
    margin: 5rem !important;
  }

  .mg-md-auto {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 960px) {
  .mg-lg-0 {
    margin: 0rem !important;
  }

  .mg-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-lg-1 {
    margin: 1rem !important;
  }

  .mg-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-lg-3 {
    margin: 2rem !important;
  }

  .mg-lg-4 {
    margin: 3rem !important;
  }

  .mg-lg-5 {
    margin: 4rem !important;
  }

  .mg-lg-6 {
    margin: 5rem !important;
  }

  .mg-t-lg-0 {
    margin: 0rem !important;
  }

  .mg-t-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-t-lg-1 {
    margin: 1rem !important;
  }

  .mg-t-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-t-lg-3 {
    margin: 2rem !important;
  }

  .mg-t-lg-4 {
    margin: 3rem !important;
  }

  .mg-t-lg-5 {
    margin: 4rem !important;
  }

  .mg-t-lg-6 {
    margin: 5rem !important;
  }

  .mg-b-lg-0 {
    margin: 0rem !important;
  }

  .mg-b-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-b-lg-1 {
    margin: 1rem !important;
  }

  .mg-b-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-b-lg-3 {
    margin: 2rem !important;
  }

  .mg-b-lg-4 {
    margin: 3rem !important;
  }

  .mg-b-lg-5 {
    margin: 4rem !important;
  }

  .mg-b-lg-6 {
    margin: 5rem !important;
  }

  .mg-l-lg-0 {
    margin: 0rem !important;
  }

  .mg-l-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-l-lg-1 {
    margin: 1rem !important;
  }

  .mg-l-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-l-lg-3 {
    margin: 2rem !important;
  }

  .mg-l-lg-4 {
    margin: 3rem !important;
  }

  .mg-l-lg-5 {
    margin: 4rem !important;
  }

  .mg-l-lg-6 {
    margin: 5rem !important;
  }

  .mg-r-lg-0 {
    margin: 0rem !important;
  }

  .mg-r-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-r-lg-1 {
    margin: 1rem !important;
  }

  .mg-r-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-r-lg-3 {
    margin: 2rem !important;
  }

  .mg-r-lg-4 {
    margin: 3rem !important;
  }

  .mg-r-lg-5 {
    margin: 4rem !important;
  }

  .mg-r-lg-6 {
    margin: 5rem !important;
  }

  .mg-lr-lg-0 {
    margin: 0rem !important;
  }

  .mg-lr-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-lr-lg-1 {
    margin: 1rem !important;
  }

  .mg-lr-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-lr-lg-3 {
    margin: 2rem !important;
  }

  .mg-lr-lg-4 {
    margin: 3rem !important;
  }

  .mg-lr-lg-5 {
    margin: 4rem !important;
  }

  .mg-lr-lg-6 {
    margin: 5rem !important;
  }

  .mg-tb-lg-0 {
    margin: 0rem !important;
  }

  .mg-tb-lg-05 {
    margin: 0.5rem !important;
  }

  .mg-tb-lg-1 {
    margin: 1rem !important;
  }

  .mg-tb-lg-2 {
    margin: 1.5rem !important;
  }

  .mg-tb-lg-3 {
    margin: 2rem !important;
  }

  .mg-tb-lg-4 {
    margin: 3rem !important;
  }

  .mg-tb-lg-5 {
    margin: 4rem !important;
  }

  .mg-tb-lg-6 {
    margin: 5rem !important;
  }

  .mg-lg-auto {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1140px) {
  .mg-xl-0 {
    margin: 0rem !important;
  }

  .mg-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-xl-1 {
    margin: 1rem !important;
  }

  .mg-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-xl-3 {
    margin: 2rem !important;
  }

  .mg-xl-4 {
    margin: 3rem !important;
  }

  .mg-xl-5 {
    margin: 4rem !important;
  }

  .mg-xl-6 {
    margin: 5rem !important;
  }

  .mg-t-xl-0 {
    margin: 0rem !important;
  }

  .mg-t-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-t-xl-1 {
    margin: 1rem !important;
  }

  .mg-t-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-t-xl-3 {
    margin: 2rem !important;
  }

  .mg-t-xl-4 {
    margin: 3rem !important;
  }

  .mg-t-xl-5 {
    margin: 4rem !important;
  }

  .mg-t-xl-6 {
    margin: 5rem !important;
  }

  .mg-b-xl-0 {
    margin: 0rem !important;
  }

  .mg-b-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-b-xl-1 {
    margin: 1rem !important;
  }

  .mg-b-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-b-xl-3 {
    margin: 2rem !important;
  }

  .mg-b-xl-4 {
    margin: 3rem !important;
  }

  .mg-b-xl-5 {
    margin: 4rem !important;
  }

  .mg-b-xl-6 {
    margin: 5rem !important;
  }

  .mg-l-xl-0 {
    margin: 0rem !important;
  }

  .mg-l-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-l-xl-1 {
    margin: 1rem !important;
  }

  .mg-l-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-l-xl-3 {
    margin: 2rem !important;
  }

  .mg-l-xl-4 {
    margin: 3rem !important;
  }

  .mg-l-xl-5 {
    margin: 4rem !important;
  }

  .mg-l-xl-6 {
    margin: 5rem !important;
  }

  .mg-r-xl-0 {
    margin: 0rem !important;
  }

  .mg-r-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-r-xl-1 {
    margin: 1rem !important;
  }

  .mg-r-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-r-xl-3 {
    margin: 2rem !important;
  }

  .mg-r-xl-4 {
    margin: 3rem !important;
  }

  .mg-r-xl-5 {
    margin: 4rem !important;
  }

  .mg-r-xl-6 {
    margin: 5rem !important;
  }

  .mg-lr-xl-0 {
    margin: 0rem !important;
  }

  .mg-lr-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-lr-xl-1 {
    margin: 1rem !important;
  }

  .mg-lr-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-lr-xl-3 {
    margin: 2rem !important;
  }

  .mg-lr-xl-4 {
    margin: 3rem !important;
  }

  .mg-lr-xl-5 {
    margin: 4rem !important;
  }

  .mg-lr-xl-6 {
    margin: 5rem !important;
  }

  .mg-tb-xl-0 {
    margin: 0rem !important;
  }

  .mg-tb-xl-05 {
    margin: 0.5rem !important;
  }

  .mg-tb-xl-1 {
    margin: 1rem !important;
  }

  .mg-tb-xl-2 {
    margin: 1.5rem !important;
  }

  .mg-tb-xl-3 {
    margin: 2rem !important;
  }

  .mg-tb-xl-4 {
    margin: 3rem !important;
  }

  .mg-tb-xl-5 {
    margin: 4rem !important;
  }

  .mg-tb-xl-6 {
    margin: 5rem !important;
  }

  .mg-xl-auto {
    margin: 0 auto !important;
  }
}
@media screen {
  .pd-xs-0 {
    padding: 0rem !important;
  }

  .pd-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-xs-1 {
    padding: 1rem !important;
  }

  .pd-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-xs-3 {
    padding: 2rem !important;
  }

  .pd-xs-4 {
    padding: 3rem !important;
  }

  .pd-xs-5 {
    padding: 4rem !important;
  }

  .pd-xs-6 {
    padding: 5rem !important;
  }

  .pd-t-xs-0 {
    padding: 0rem !important;
  }

  .pd-t-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-t-xs-1 {
    padding: 1rem !important;
  }

  .pd-t-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-t-xs-3 {
    padding: 2rem !important;
  }

  .pd-t-xs-4 {
    padding: 3rem !important;
  }

  .pd-t-xs-5 {
    padding: 4rem !important;
  }

  .pd-t-xs-6 {
    padding: 5rem !important;
  }

  .pd-b-xs-0 {
    padding: 0rem !important;
  }

  .pd-b-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-b-xs-1 {
    padding: 1rem !important;
  }

  .pd-b-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-b-xs-3 {
    padding: 2rem !important;
  }

  .pd-b-xs-4 {
    padding: 3rem !important;
  }

  .pd-b-xs-5 {
    padding: 4rem !important;
  }

  .pd-b-xs-6 {
    padding: 5rem !important;
  }

  .pd-l-xs-0 {
    padding: 0rem !important;
  }

  .pd-l-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-l-xs-1 {
    padding: 1rem !important;
  }

  .pd-l-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-l-xs-3 {
    padding: 2rem !important;
  }

  .pd-l-xs-4 {
    padding: 3rem !important;
  }

  .pd-l-xs-5 {
    padding: 4rem !important;
  }

  .pd-l-xs-6 {
    padding: 5rem !important;
  }

  .pd-r-xs-0 {
    padding: 0rem !important;
  }

  .pd-r-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-r-xs-1 {
    padding: 1rem !important;
  }

  .pd-r-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-r-xs-3 {
    padding: 2rem !important;
  }

  .pd-r-xs-4 {
    padding: 3rem !important;
  }

  .pd-r-xs-5 {
    padding: 4rem !important;
  }

  .pd-r-xs-6 {
    padding: 5rem !important;
  }

  .pd-lr-xs-0 {
    padding: 0rem !important;
  }

  .pd-lr-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-lr-xs-1 {
    padding: 1rem !important;
  }

  .pd-lr-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-lr-xs-3 {
    padding: 2rem !important;
  }

  .pd-lr-xs-4 {
    padding: 3rem !important;
  }

  .pd-lr-xs-5 {
    padding: 4rem !important;
  }

  .pd-lr-xs-6 {
    padding: 5rem !important;
  }

  .pd-tb-xs-0 {
    padding: 0rem !important;
  }

  .pd-tb-xs-05 {
    padding: 0.5rem !important;
  }

  .pd-tb-xs-1 {
    padding: 1rem !important;
  }

  .pd-tb-xs-2 {
    padding: 1.5rem !important;
  }

  .pd-tb-xs-3 {
    padding: 2rem !important;
  }

  .pd-tb-xs-4 {
    padding: 3rem !important;
  }

  .pd-tb-xs-5 {
    padding: 4rem !important;
  }

  .pd-tb-xs-6 {
    padding: 5rem !important;
  }
}
@media screen and (min-width: 480px) {
  .pd-sm-0 {
    padding: 0rem !important;
  }

  .pd-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-sm-1 {
    padding: 1rem !important;
  }

  .pd-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-sm-3 {
    padding: 2rem !important;
  }

  .pd-sm-4 {
    padding: 3rem !important;
  }

  .pd-sm-5 {
    padding: 4rem !important;
  }

  .pd-sm-6 {
    padding: 5rem !important;
  }

  .pd-t-sm-0 {
    padding: 0rem !important;
  }

  .pd-t-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-t-sm-1 {
    padding: 1rem !important;
  }

  .pd-t-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-t-sm-3 {
    padding: 2rem !important;
  }

  .pd-t-sm-4 {
    padding: 3rem !important;
  }

  .pd-t-sm-5 {
    padding: 4rem !important;
  }

  .pd-t-sm-6 {
    padding: 5rem !important;
  }

  .pd-b-sm-0 {
    padding: 0rem !important;
  }

  .pd-b-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-b-sm-1 {
    padding: 1rem !important;
  }

  .pd-b-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-b-sm-3 {
    padding: 2rem !important;
  }

  .pd-b-sm-4 {
    padding: 3rem !important;
  }

  .pd-b-sm-5 {
    padding: 4rem !important;
  }

  .pd-b-sm-6 {
    padding: 5rem !important;
  }

  .pd-l-sm-0 {
    padding: 0rem !important;
  }

  .pd-l-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-l-sm-1 {
    padding: 1rem !important;
  }

  .pd-l-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-l-sm-3 {
    padding: 2rem !important;
  }

  .pd-l-sm-4 {
    padding: 3rem !important;
  }

  .pd-l-sm-5 {
    padding: 4rem !important;
  }

  .pd-l-sm-6 {
    padding: 5rem !important;
  }

  .pd-r-sm-0 {
    padding: 0rem !important;
  }

  .pd-r-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-r-sm-1 {
    padding: 1rem !important;
  }

  .pd-r-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-r-sm-3 {
    padding: 2rem !important;
  }

  .pd-r-sm-4 {
    padding: 3rem !important;
  }

  .pd-r-sm-5 {
    padding: 4rem !important;
  }

  .pd-r-sm-6 {
    padding: 5rem !important;
  }

  .pd-lr-sm-0 {
    padding: 0rem !important;
  }

  .pd-lr-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-lr-sm-1 {
    padding: 1rem !important;
  }

  .pd-lr-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-lr-sm-3 {
    padding: 2rem !important;
  }

  .pd-lr-sm-4 {
    padding: 3rem !important;
  }

  .pd-lr-sm-5 {
    padding: 4rem !important;
  }

  .pd-lr-sm-6 {
    padding: 5rem !important;
  }

  .pd-tb-sm-0 {
    padding: 0rem !important;
  }

  .pd-tb-sm-05 {
    padding: 0.5rem !important;
  }

  .pd-tb-sm-1 {
    padding: 1rem !important;
  }

  .pd-tb-sm-2 {
    padding: 1.5rem !important;
  }

  .pd-tb-sm-3 {
    padding: 2rem !important;
  }

  .pd-tb-sm-4 {
    padding: 3rem !important;
  }

  .pd-tb-sm-5 {
    padding: 4rem !important;
  }

  .pd-tb-sm-6 {
    padding: 5rem !important;
  }
}
@media screen and (min-width: 680px) {
  .pd-md-0 {
    padding: 0rem !important;
  }

  .pd-md-05 {
    padding: 0.5rem !important;
  }

  .pd-md-1 {
    padding: 1rem !important;
  }

  .pd-md-2 {
    padding: 1.5rem !important;
  }

  .pd-md-3 {
    padding: 2rem !important;
  }

  .pd-md-4 {
    padding: 3rem !important;
  }

  .pd-md-5 {
    padding: 4rem !important;
  }

  .pd-md-6 {
    padding: 5rem !important;
  }

  .pd-t-md-0 {
    padding: 0rem !important;
  }

  .pd-t-md-05 {
    padding: 0.5rem !important;
  }

  .pd-t-md-1 {
    padding: 1rem !important;
  }

  .pd-t-md-2 {
    padding: 1.5rem !important;
  }

  .pd-t-md-3 {
    padding: 2rem !important;
  }

  .pd-t-md-4 {
    padding: 3rem !important;
  }

  .pd-t-md-5 {
    padding: 4rem !important;
  }

  .pd-t-md-6 {
    padding: 5rem !important;
  }

  .pd-b-md-0 {
    padding: 0rem !important;
  }

  .pd-b-md-05 {
    padding: 0.5rem !important;
  }

  .pd-b-md-1 {
    padding: 1rem !important;
  }

  .pd-b-md-2 {
    padding: 1.5rem !important;
  }

  .pd-b-md-3 {
    padding: 2rem !important;
  }

  .pd-b-md-4 {
    padding: 3rem !important;
  }

  .pd-b-md-5 {
    padding: 4rem !important;
  }

  .pd-b-md-6 {
    padding: 5rem !important;
  }

  .pd-l-md-0 {
    padding: 0rem !important;
  }

  .pd-l-md-05 {
    padding: 0.5rem !important;
  }

  .pd-l-md-1 {
    padding: 1rem !important;
  }

  .pd-l-md-2 {
    padding: 1.5rem !important;
  }

  .pd-l-md-3 {
    padding: 2rem !important;
  }

  .pd-l-md-4 {
    padding: 3rem !important;
  }

  .pd-l-md-5 {
    padding: 4rem !important;
  }

  .pd-l-md-6 {
    padding: 5rem !important;
  }

  .pd-r-md-0 {
    padding: 0rem !important;
  }

  .pd-r-md-05 {
    padding: 0.5rem !important;
  }

  .pd-r-md-1 {
    padding: 1rem !important;
  }

  .pd-r-md-2 {
    padding: 1.5rem !important;
  }

  .pd-r-md-3 {
    padding: 2rem !important;
  }

  .pd-r-md-4 {
    padding: 3rem !important;
  }

  .pd-r-md-5 {
    padding: 4rem !important;
  }

  .pd-r-md-6 {
    padding: 5rem !important;
  }

  .pd-lr-md-0 {
    padding: 0rem !important;
  }

  .pd-lr-md-05 {
    padding: 0.5rem !important;
  }

  .pd-lr-md-1 {
    padding: 1rem !important;
  }

  .pd-lr-md-2 {
    padding: 1.5rem !important;
  }

  .pd-lr-md-3 {
    padding: 2rem !important;
  }

  .pd-lr-md-4 {
    padding: 3rem !important;
  }

  .pd-lr-md-5 {
    padding: 4rem !important;
  }

  .pd-lr-md-6 {
    padding: 5rem !important;
  }

  .pd-tb-md-0 {
    padding: 0rem !important;
  }

  .pd-tb-md-05 {
    padding: 0.5rem !important;
  }

  .pd-tb-md-1 {
    padding: 1rem !important;
  }

  .pd-tb-md-2 {
    padding: 1.5rem !important;
  }

  .pd-tb-md-3 {
    padding: 2rem !important;
  }

  .pd-tb-md-4 {
    padding: 3rem !important;
  }

  .pd-tb-md-5 {
    padding: 4rem !important;
  }

  .pd-tb-md-6 {
    padding: 5rem !important;
  }
}
@media screen and (min-width: 960px) {
  .pd-lg-0 {
    padding: 0rem !important;
  }

  .pd-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-lg-1 {
    padding: 1rem !important;
  }

  .pd-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-lg-3 {
    padding: 2rem !important;
  }

  .pd-lg-4 {
    padding: 3rem !important;
  }

  .pd-lg-5 {
    padding: 4rem !important;
  }

  .pd-lg-6 {
    padding: 5rem !important;
  }

  .pd-t-lg-0 {
    padding: 0rem !important;
  }

  .pd-t-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-t-lg-1 {
    padding: 1rem !important;
  }

  .pd-t-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-t-lg-3 {
    padding: 2rem !important;
  }

  .pd-t-lg-4 {
    padding: 3rem !important;
  }

  .pd-t-lg-5 {
    padding: 4rem !important;
  }

  .pd-t-lg-6 {
    padding: 5rem !important;
  }

  .pd-b-lg-0 {
    padding: 0rem !important;
  }

  .pd-b-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-b-lg-1 {
    padding: 1rem !important;
  }

  .pd-b-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-b-lg-3 {
    padding: 2rem !important;
  }

  .pd-b-lg-4 {
    padding: 3rem !important;
  }

  .pd-b-lg-5 {
    padding: 4rem !important;
  }

  .pd-b-lg-6 {
    padding: 5rem !important;
  }

  .pd-l-lg-0 {
    padding: 0rem !important;
  }

  .pd-l-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-l-lg-1 {
    padding: 1rem !important;
  }

  .pd-l-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-l-lg-3 {
    padding: 2rem !important;
  }

  .pd-l-lg-4 {
    padding: 3rem !important;
  }

  .pd-l-lg-5 {
    padding: 4rem !important;
  }

  .pd-l-lg-6 {
    padding: 5rem !important;
  }

  .pd-r-lg-0 {
    padding: 0rem !important;
  }

  .pd-r-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-r-lg-1 {
    padding: 1rem !important;
  }

  .pd-r-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-r-lg-3 {
    padding: 2rem !important;
  }

  .pd-r-lg-4 {
    padding: 3rem !important;
  }

  .pd-r-lg-5 {
    padding: 4rem !important;
  }

  .pd-r-lg-6 {
    padding: 5rem !important;
  }

  .pd-lr-lg-0 {
    padding: 0rem !important;
  }

  .pd-lr-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-lr-lg-1 {
    padding: 1rem !important;
  }

  .pd-lr-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-lr-lg-3 {
    padding: 2rem !important;
  }

  .pd-lr-lg-4 {
    padding: 3rem !important;
  }

  .pd-lr-lg-5 {
    padding: 4rem !important;
  }

  .pd-lr-lg-6 {
    padding: 5rem !important;
  }

  .pd-tb-lg-0 {
    padding: 0rem !important;
  }

  .pd-tb-lg-05 {
    padding: 0.5rem !important;
  }

  .pd-tb-lg-1 {
    padding: 1rem !important;
  }

  .pd-tb-lg-2 {
    padding: 1.5rem !important;
  }

  .pd-tb-lg-3 {
    padding: 2rem !important;
  }

  .pd-tb-lg-4 {
    padding: 3rem !important;
  }

  .pd-tb-lg-5 {
    padding: 4rem !important;
  }

  .pd-tb-lg-6 {
    padding: 5rem !important;
  }
}
@media screen and (min-width: 1140px) {
  .pd-xl-0 {
    padding: 0rem !important;
  }

  .pd-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-xl-1 {
    padding: 1rem !important;
  }

  .pd-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-xl-3 {
    padding: 2rem !important;
  }

  .pd-xl-4 {
    padding: 3rem !important;
  }

  .pd-xl-5 {
    padding: 4rem !important;
  }

  .pd-xl-6 {
    padding: 5rem !important;
  }

  .pd-t-xl-0 {
    padding: 0rem !important;
  }

  .pd-t-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-t-xl-1 {
    padding: 1rem !important;
  }

  .pd-t-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-t-xl-3 {
    padding: 2rem !important;
  }

  .pd-t-xl-4 {
    padding: 3rem !important;
  }

  .pd-t-xl-5 {
    padding: 4rem !important;
  }

  .pd-t-xl-6 {
    padding: 5rem !important;
  }

  .pd-b-xl-0 {
    padding: 0rem !important;
  }

  .pd-b-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-b-xl-1 {
    padding: 1rem !important;
  }

  .pd-b-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-b-xl-3 {
    padding: 2rem !important;
  }

  .pd-b-xl-4 {
    padding: 3rem !important;
  }

  .pd-b-xl-5 {
    padding: 4rem !important;
  }

  .pd-b-xl-6 {
    padding: 5rem !important;
  }

  .pd-l-xl-0 {
    padding: 0rem !important;
  }

  .pd-l-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-l-xl-1 {
    padding: 1rem !important;
  }

  .pd-l-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-l-xl-3 {
    padding: 2rem !important;
  }

  .pd-l-xl-4 {
    padding: 3rem !important;
  }

  .pd-l-xl-5 {
    padding: 4rem !important;
  }

  .pd-l-xl-6 {
    padding: 5rem !important;
  }

  .pd-r-xl-0 {
    padding: 0rem !important;
  }

  .pd-r-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-r-xl-1 {
    padding: 1rem !important;
  }

  .pd-r-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-r-xl-3 {
    padding: 2rem !important;
  }

  .pd-r-xl-4 {
    padding: 3rem !important;
  }

  .pd-r-xl-5 {
    padding: 4rem !important;
  }

  .pd-r-xl-6 {
    padding: 5rem !important;
  }

  .pd-lr-xl-0 {
    padding: 0rem !important;
  }

  .pd-lr-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-lr-xl-1 {
    padding: 1rem !important;
  }

  .pd-lr-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-lr-xl-3 {
    padding: 2rem !important;
  }

  .pd-lr-xl-4 {
    padding: 3rem !important;
  }

  .pd-lr-xl-5 {
    padding: 4rem !important;
  }

  .pd-lr-xl-6 {
    padding: 5rem !important;
  }

  .pd-tb-xl-0 {
    padding: 0rem !important;
  }

  .pd-tb-xl-05 {
    padding: 0.5rem !important;
  }

  .pd-tb-xl-1 {
    padding: 1rem !important;
  }

  .pd-tb-xl-2 {
    padding: 1.5rem !important;
  }

  .pd-tb-xl-3 {
    padding: 2rem !important;
  }

  .pd-tb-xl-4 {
    padding: 3rem !important;
  }

  .pd-tb-xl-5 {
    padding: 4rem !important;
  }

  .pd-tb-xl-6 {
    padding: 5rem !important;
  }
}
.guide-banner {
  position: fixed;
  top: 0;
  height: 15rem;
  width: 15rem;
  padding: 2rem 2rem;
  line-height: 1;
  display: none;
}
@media screen and (min-width: 680px) {
  .guide-banner {
    display: block;
  }
}
.guide-skip-content a {
  position: absolute;
  left: -9999em;
  margin-top: 0.5rem;
  padding-left: 2rem;
  width: 100%;
}
.guide-skip-content a:focus {
  left: 0;
}
.guide-navigation {
  position: fixed;
  top: 6rem;
  bottom: 0;
  padding-top: 0;
  width: 15rem;
  display: none;
}
@media screen and (min-width: 680px) {
  .guide-navigation {
    display: block;
  }
}
.guide-navigation nav {
  position: absolute;
  height: 100%;
  width: 15rem;
  overflow: hidden;
  overflow-y: auto;
  outline: 0;
}
.guide-navigation-list {
  margin: 0;
  padding: 0;
}
.guide-navigation-link {
  display: block;
  padding: 0.5rem 2rem;
}
@media screen and (min-width: 680px) {
  .guide-main, .guide-contentinfo {
    margin-left: 15rem;
  }
}
.guide-content {
  padding: 2rem;
  margin: 2rem;
}
.guide-main {
  min-height: calc(100vh - 8rem);
}
.guide-contentinfo-copy {
  padding: 1rem 2rem;
  margin: 0;
}

body {
  background-color: #edeff0;
}

.guide-banner {
  background-color: #384047;
}
.guide-skip-content a {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
}
.guide-name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.guide-navigation {
  background-color: #384047;
}
.guide-navigation-link {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
}
.guide-navigation-link:hover {
  background-color: #2d3339;
}
.guide-content {
  background-color: #fff;
  border-radius: 4px;
}

/*# sourceMappingURL=styleguide.css.map */
