// Global Colors
$dark: #384047;
$bg: #edeff0;
$red: #ed5a5a;
$blue: #3f8abf;

// Spacing Units
//   0   = 0px
//   0.5 = 8px
//   1   = 16px
//   2   = 24px
//   3   = 32px
//   4   = 48px
//   5   = 64px
//   6   = 80px
$spacing: (
  0:   0rem,
  0.5: 0.5rem,
  1:   1rem,
  2:   1.5rem,
  3:   2rem,
  4:   3rem,
  5:   4rem,
  6:   5rem
);

// Spacing Sides
$spacing-sides: (
  all: all,
  t: top,
  b: bottom,
  l: left,
  r: right,
  lr: null,
  tb: null
);

// Type Variables
$text-size: (
  1: 2.25rem,
  2: 1.75rem,
  3: 1.25rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem
);


// Global Border Variables
$border-color-dark: lighten($dark, 50%);   // #b7c0c7
$border-color-mid: lighten($dark, 60%);    // #d4d9dd
$border-color-normal: lighten($dark, 67%); // #e8ebed
$border-color-light: lighten($dark, 70%);  // #f0f2f4
$border-radius: 4px;

// Grid max width
$grid-width: 1200px;

// Global Responsive Breakpoints
$sm: 480px;
$md: 680px;
$lg: 960px;
$xl: 1140px;
