<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sprite.svg %}

    {% include header.html %}

    <main class="guide-main" role="main">
      <div class="guide-content">

        <h1 class="thl-border-b-xs p-b-05-xs m-b-4-xs">{{ page.title }}</h1>

        <div class="thl-col-container">
          <div class="thl-col thl-col-80-lg">
            {{ content }}
          </div>
          <div class="thl-hide-xs thl-block-lg thl-col thl-col-20-lg subnav-container">
            {% include subnav.html %}
          </div>
        </div>

      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
